* {
  font-family: 'Helvetica';
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #07485B;
  color: #EDE5F4;
}

body {
  margin: 0;
  padding: 15px;
}

#nft-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.nft {
  padding: 5px;
}

.nft-img {
  width: 100%;
}

@media screen and (min-width: 451px) {
  .nft {
    width: 95%;
  }
}

@media screen and (max-width: 450px) {
  #nft-grid {
    grid-template-columns: auto;
  }
}