* {
  font-family: 'Helvetica';
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #07485B;
  color: #EDE5F4;
}

body {
  margin: 0;
  padding: 15px;
}

.dot-link {
  color: #015FB4;
}

.dot-link:visited {
  color: #015FB4;
}

#top {
  width: 100%;
  height: 50px;
}
