<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ account }}'s NFTs'</title>
    <link href="/account.css" rel="stylesheet" type="text/css" />
    <link href="/modal.css" rel="stylesheet" type="text/css" />
    <script src="/banano.js"></script>
    <script src="/util.js"></script>
  </head>
  <body>
    <div id="ownership-modal" class="modal" style="display: none;">
      <div class="modal-window">
        {% if lang == "es" %}
          <button class="close-modal" onclick="close_modal('ownership-modal')">Cerrar x</button>
          <h2>Historial de Propiedad</h2>
        {% else %}
          <button class="close-modal" onclick="close_modal('ownership-modal')">Close x</button>
          <h2>Ownership History</h2>
        {% endif %}
        <ul id="ownership-history-seq">
        </ul>
      </div>
    </div>
    <div id="how-send-modal" class="modal" style="display: none;">
      <div class="modal-window">
        {% if lang == "es" %}
          <button class="close-modal" onclick="close_modal('how-send-modal')">Cerrar x</button>
          <h2>¿Cómo enviar este NFT?</h2>
          <p class="w-break">Si eres el propietario de {{ account }}, cambia el representante de tu billetera a: <b id="nft-send-rep"></b> y envía cualquier cantidad de banano al destinatario. Asegúrate de volver a cambiar a tu representante normal después del proceso.</p>
        {% else %}
          <button class="close-modal" onclick="close_modal('how-send-modal')">Close x</button>
          <h2>How to Send this NFT</h2>
          <p class="w-break">If you are the owner of {{ account }}, set your account rep to: <b id="nft-send-rep"></b> and send any amount of banano to the recipient. Make sure to change it back to your normal rep afterwards.</p>
        {% endif %}
      </div>
    </div>
    {% if lang == "es" %}
      <h1 class="w-break">{{ account }}'s Colección NFT</h1>
      {% if supporter %}<span class="supporter-badge">Colaborador</span>{% endif %}
    {% else %}
      <h1 class="w-break">{{ account }}'s NFT Collection</h1>
      {% if supporter %}<a href="/support"><span class="supporter-badge">Supporter</span></a>{% endif %}
    {% endif %}
    {% if not nfts[0] %}
      {% if lang == "es" %}
        <p>¿No ves ningún NFT? Comprueba tu billetera, asegúrate de que todas las transacciones pendientes se han recibido. Puede que el acuñador no esté en la lista blanca. O puede que simplemente no tengas ningún NFT.</p>
      {% else %}
        <p>Don't see any NFTs? Check your wallet, make sure all pending transactions are received. The minter might not be whitelisted. Or maybe you just don't have any NFTs.</p>
      {% endif %}
    {% endif %}
    <div id="nft-grid">
      {% for nft in nfts %}
        <div class="nft">
          <!-- how to send -->
          <h2><a href="/nft/{{ nft.rep }}">{{ nft.name }}</a></h2>
          {% if nft.animation_url %}
            <video controls autoplay>
              <source src="https://gateway.pinata.cloud/ipfs/{{ nft.animation_url }}" type="video/mp4">
            </video>
          {% else %}
            <img src="https://gateway.pinata.cloud/ipfs/{{ nft.image }}" class="nft-img"></img>
          {% endif %}
          <br>
          {% if lang == "es" %}
            <button onclick="show_ownership('{{ nft.receive_hash }}', '{{ nft.rep }}', '{{ nft.properties.issuer }}')">Historial de Propiedad</button>
            <button onclick="how_to_send('{{ nft.receive_hash }}', '{{ nft.properties.issuer }}')">Enviar NFT</button>
            <p>{{ nft.description }} <b>Cantidad en Posesión: {{ nft.quantity }}</b> <b>Veracidad de la Propiedad: {% if nft.certain %}Verdadero{% else %}Falso{% endif %}</b></p>
          {% else %}
            <button onclick="show_ownership('{{ nft.receive_hash }}', '{{ nft.rep }}', '{{ nft.properties.issuer }}')">Ownership History</button>
            <button onclick="how_to_send('{{ nft.receive_hash }}', '{{ nft.properties.issuer }}')">Send Me</button>
            <p>{{ nft.description }} <b>Quantity Owned: {{ nft.quantity }}</b> <b>Certainty of Ownership: {{ nft.certain }}</b></p>
          {% endif %}
        </div>
      {% endfor %}
      {% if lang == "es" %}
        <p>Translated by WhiteFlag</p>
      {% endif %}
    </div>
    {% if supporter and lang != "es" %}
      <span id="depth-notice">Please note: NFTs received more than 400 transactions ago are not displayed (limitation of API)</span>
    {% elif lang != "es" %}
      <span id="depth-notice">Please note: NFTs received more than 100 transactions ago are not displayed (limitation of API)</span>
    {% endif %}
  </body>
</html>